body {
    background-image: url("/imgs/main.jpg");
    background-size: cover;
    /* Makes the image cover the whole body */
    background-repeat: no-repeat;
    /* Prevents repeating the image
        background-position: center center; /* Centers the image
        /* display: flex; */
    justify-content: center;
    align-items: center;
    */ */


    .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-character {
        display: flex;
        flex-direction: column;
    }

    .main-character {
        margin-left: -2700px;
        margin-top: 547px;
    }

    .hp-enemy {
        margin-top: -718px;
        margin-right: 2446px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skills{
        display: flex;
            justify-content: center;
            align-items: center;
            
    }
    .attacks {
        display: flex;
        gap: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
}